/*
 * Motor PWM overlay for STM32 Blue Pill
 * PB6 = TIM4_CH1 - EXACT ca aplicația principală
 * Channel 0 în indexare Zephyr
 */

/ {
	aliases {
		motor-pwm = &motor_pwm;
	};
	
	/* pwm-leds wrapper ca în app principală */
	pwm_devs {
		compatible = "pwm-leds";
		motor_pwm: motor_pwm {
			/* TIM4_CH1 (PB6), channel 0, 1ms period, normal polarity */
			pwms = <&pwm4 0 1000000 0>;
		};
	};
};

/* Enable TIM4 pentru PWM pe PB6 */
&timers4 {
	status = "okay";
	
	pwm4: pwm {
		status = "okay";
		pinctrl-0 = <&tim4_ch1_pwm_out_pb6>;
		pinctrl-names = "default";
	};
};
