/*
 * OLED Test Overlay - I2C2 pe PB10/PB11
 * SSD1306 128x64 sau 128x32
 */

&i2c2 {
	status = "okay";
	pinctrl-0 = <&i2c2_scl_pb10 &i2c2_sda_pb11>;  /* Config corectă hardware */
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_STANDARD>;  /* 100kHz - mai stabil */
	
	ssd1306: ssd1306@3c {
		compatible = "solomon,ssd1306";
		reg = <0x3c>;  /* Înapoi la 0x3C, dar cu pini inversați */
		width = <128>;
		height = <64>;
		segment-offset = <0>;
		page-offset = <0>;
		display-offset = <0>;
		multiplex-ratio = <63>;
		segment-remap;
		com-invdir;
		prechargep = <0x22>;
	};

	ssd1306_3d: ssd1306@3d {
		compatible = "solomon,ssd1306";
		reg = <0x3d>;
		width = <128>;
		height = <64>;
		segment-offset = <0>;
		page-offset = <0>;
		display-offset = <0>;
		multiplex-ratio = <63>;
		segment-remap;
		com-invdir;
		prechargep = <0x22>;
	};
};

&usart3 {
	status = "disabled";
};

&i2c1 {
	status = "okay";
	pinctrl-0 = <&i2c1_scl_pb6 &i2c1_sda_pb7>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_STANDARD>;

	ssd1306_i2c1: ssd1306@3c {
		compatible = "solomon,ssd1306";
		reg = <0x3c>;
		width = <128>;
		height = <64>;
		segment-offset = <0>;
		page-offset = <0>;
		display-offset = <0>;
		multiplex-ratio = <63>;
		segment-remap;
		com-invdir;
		prechargep = <0x22>;
	};

	ssd1306_i2c1_3d: ssd1306@3d {
		compatible = "solomon,ssd1306";
		reg = <0x3d>;
		width = <128>;
		height = <64>;
		segment-offset = <0>;
		page-offset = <0>;
		display-offset = <0>;
		multiplex-ratio = <63>;
		segment-remap;
		com-invdir;
		prechargep = <0x22>;
	};
};
