/*
 * GloveAssist ESP32 Board Overlay
 * Board: esp32_devkitc/esp32/procpu (newer Zephyr local workspaces)
 *
 * UART topology:
 *   UART0 (GPIO1/GPIO3)   -> console / logging (CP210x USB, COM11)
 *   UART2 (GPIO17 TX / GPIO16 RX) <- STM32 USART1 (PA9 TX -> GPIO16 RX)
 *
 * UART2 native pins: GPIO17=TX, GPIO16=RX, no SPI flash conflict.
 */

&pinctrl {
	uart2_glove: uart2_glove {
		group1 {
			pinmux = <UART2_TX_GPIO17>;
		};
		group2 {
			pinmux = <UART2_RX_GPIO16>;
			bias-pull-up;
		};
	};
};

/* UART2: STM32 inter-MCU @ 57600 baud. */
&uart2 {
	status = "okay";
	current-speed = <57600>;
	pinctrl-0 = <&uart2_glove>;
	pinctrl-names = "default";
};

&wifi {
	status = "okay";
};

/* UART1: pini default GPIO9/GPIO10 = SPI flash intern, dezactivat */
&uart1 {
	status = "disabled";
};
